<p>Hola Esteban,</p>

<p>Un usuario se ha postulado a una oferta laboral:</p>

<p>
  <strong>Usuario:</strong> <%= @application.user.email %><br>
  <strong>Trabajo:</strong> <%= @application.job.title %>
</p>

<p>Saludos,</p>
<p>El equipo de EmpleosInternos</p>
